.header-nav {
    /*clip-path: polygon(0% 25%, 10% 0%, 100% 0, 100% 100%, 10% 100%, 0% 75%, 10% 50%);*/
    /*clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 8% 70%, 8% 30%);*/
    /*clip-path: polygon(0 0, 100% 0, 90% 30%, 90% 70%, 100% 100%, 0 100%, 10% 70%, 10% 30%);*/
    box-shadow: 0px 0px 6px -3px $color-negro;
    /*border-radius: 10px 0 0 20px;*/
    border-radius: 10px 0 0 10px;
    background-color: $color-blanco;
    overflow-x: hidden;
    position: fixed;
    height: 100%;
    z-index: 11;
    top: 0;
    width: 300px;
    right: -320px;
    display: flex;
    padding: 10px 0;
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content: center;
    align-content: space-around;
    transition: all 300ms ease-in-out;
    &.open {
        right: 0;
    }
    .header-nav-logo {
        margin: 0 auto;
        width: 100%;
        padding: 10px;
        .header-logo-img {
            width: 80px;
            margin: auto;
            overflow: hidden;
            border-radius: 100%;
            img {
                max-width: 100%;
            }
        }
    }
    .header-nav-links {
        /*background-color: blue;*/
        overflow-y: auto;
        display: block;
        max-height: 40%;
        .header-nav-list {
            display: block;
            padding: 5px;
            .header-list-item {
                list-style: none;
                display: block;
                padding: 5px;
                margin: 2px auto;
                text-align: center;
                a {
                    text-decoration: none;
                    letter-spacing: .07rem;
                    font-size: .9rem;
                    color: $color-negro;
                    padding: 5px;
                    position: relative;
                    &:before,
                    &:after {
                        transition: all 300ms ease-in-out;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        color: $color-negro;
                        display: flex;
                        visibility: hidden;
                        align-items: center;
                        text-shadow: 1px 1px 1px $color-negro;
                        /*width: 4px;*/
                        /*height: 60%;*/
                        /*background-color: red;*/
                    }
                    &:before {
                        content: '[';
                        /*left: -3px;*/
                        left: 0;
                    }
                    &:after {
                        content: ']';
                        /*right: -3px;*/
                        right: 0;
                    }
                }
                &:hover>a:before {
                    visibility: visible;
                    left: -3px;
                }
                &:hover>a:after {
                    visibility: visible;
                    right: -3px;
                }
            }
        }
    }
    .header-nav-end {
        position: relative;
        display: flex;
        width: 100%;
        align-items: center;
        padding-right: 20px;
        justify-content: flex-end;
        &:after {
            position: absolute;
            content: '';
            left: 30px;
            top: 0;
            bottom: 0;
            width: 65%;
            height: 3px;
            margin: auto;
            border-radius: 10px;
            background-color: $color-negro;
            box-shadow: 2px 2px 3px 0px gray;
        }
    }
}